# 0. Import Data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("files/Churn.csv")

In [3]:
x = pd.get_dummies(df.drop(['Churn', "Customer ID"], axis=1))
y = df['Churn'].apply(lambda x:1 if x=="Yes" else 0)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.2)

In [5]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
5454,0,60,61.35,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2374,0,66,49.40,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3538,0,25,53.65,False,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
6389,0,1,20.40,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
164,0,53,73.90,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [ ]:
model  = Sequential()
model.add(Dense(units=32, activation="relu", input_dim=len(X_train.columns)))